.navbar, .menu, .liste, .liste li:first-child, main, .mainContent, .something, .search, .rightPart p:first-child, .rightPart p:nth-child(2)
    {
        display: flex;
        align-items: center;
        
    }
.liste li:first-child, main, .search, .rightPart p:first-child, .rightPart p:nth-child(2)
{
    justify-content: center;
}

.container
{
    background-image: url("../images/banner-bg.jpg");
    width: 99.5%;
    height: 99.3%;
    margin: 5px 0 0 5px;
    padding: 30px 80px;
}
    .navbar
    {
        justify-content: space-between;
        width: 100%;
    }
        .menu
        {
            justify-content: space-around;
            width: 57%;
        }
            .liste
            {
                list-style-type: none;
                justify-content: space-between;
                width: 70%;
                color: var(--whiteColor);
                text-transform: capitalize;
                font-size: 15px;
            }
                .liste li:first-child
                {
                    background-color: #1A80FC;
                    border-radius: 15px;
                    width: 80px;
                    height: 30px;
                }
            .signIn
            {
                border: none;
                text-transform: uppercase;
                width: 80px;
                height: 30px;
                font-size: 13px;
                background-color: var(--orangeColor);
                border-radius: 15px;
                color: var(--whiteColor);
            }
    main
    {
        height: 90%;
        color: var(--whiteColor);
    }
        .mainContent
        {
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding-right: 35px;
        }
            .subtitle
            {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .title
            {
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 800;
                margin-bottom: 50px;
            }
                .title img
                {
                    margin-left:140px;
                    margin-top: -7px;
                }
            .description
            {
                width: 67%;
                margin-bottom: 60px;
            }
            .something
            {
                background-color: var(--whiteColor);
                color: #797470;
                border-radius: 25px;
                width: 500px;
                height: 50px;
                justify-content: start;
                padding-left: 24px;
            }
                .search
                {
                    text-transform: uppercase;
                    background-color: var(--orangeColor);
                    color: var(--whiteColor);
                    border-radius: 25px;
                    width: 150px;
                    height: 50px;
                    margin-left: 206.5px;
                }
            .rightPart
            {
                background-image: url("../images/banner-image.jpg");
                background-size: cover;
                border-radius: 20px ;
                width: 35%;
                height: 80%;
            }
                .rightPart p:first-child
                {
                    color: var(--whiteColor);
                    background-color: #018AF6;
                    border-radius: 18px;
                    font-weight: 900;
                    font-size: 19px;
                    width: 60px;
                    height: 33px;
                    margin-top: 20px;
                    margin-left: 275px;
                }
                .rightPart p:nth-child(2)
                {
                    background-color: var(--orangeColor);
                    border-radius:50%;
                    width: 90px;
                    height: 90px;
                    font-size: 25px;
                    font-weight: 800;
                    margin-top: 330px;
                    margin-left: -27px;
                }